<% include ../head %>

<body>
  <div class="wrap">
    <div class="row">
      <% include ../left-menu %>
      <div class="main-wrap">
        <% include ../header %>

        <section id="title-section">
          <h1>수수료 설정</h1>
          <div class="row">
            <p class="fl-l">웹사이트의 기본적인 정보를 변경하실 수 있습니다.</p>
            <div class="fl-r">
              <ul class="row">
                <li>기본관리정책</li>
                <li><i class="fa fa-angle-right"></i></li>
                <li>수수료 관리</li>
              </ul>
            </div>
          </div>
        </section>
        </section>

        <section id="cont-section">
          <div class="cont-whitebox">
            <div class="conts-box pb-0">
              <div class="search-box border-l0 border-r0 p-5">
                <div class="row">
                  <div class="w50p fl-l m-0">
                    <div class="search-form-box row pl-5 pr-5">
                      <label class="fl-l">검색어</label>
                      <div class="select-input-box fl-l">
                        <select id="selType">
                          <option value="1">수수료</option>
                          <option value="2">구매</option>
                          <option value="3">판매</option>
                        </select>

                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <!--search-box-->

              <div class="from-section">

                <div class="form-tr row">
                  <div class="w50p fl-l">
                    <div class="form-box row">
                      <label class="fl-l">사용여부</label>
                      <div class="fl-l radio-box">
                        <input type="radio" name="joining" id="joining1" value="A" checked>
                        <label for="joining1">전체</label>
                      </div>
                      <div class="fl-l radio-box">
                        <input type="radio" name="joining" id="joining2" value="Y">
                        <label for="joining2">사용</label>
                      </div>
                      <div class="fl-l radio-box">
                        <input type="radio" name="joining" id="joining3" value="N">
                        <label for="joining3">미사용</label>
                      </div>
                    </div>
                  </div>
                </div>
                <!--form-tr-->
              </div>


              <div class="from-section">
                <div class="form-tr row">
                  <div class="w50p fl-l">
                    <div class="form-box row">
                      <label class="fl-l">코인</label>
                      <div class="fl-l select-box">
                        <select id="GUBUN">
                          <option value="A" selected>전체</option>
                          <option value="1">CTAG</option>
                          <option value="2">TK</option>
                          <option value="3">BTC</option>
                          <option value="4">Lite</option>
                          <option value="5">ETH</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="w50p fl-l">
                    <div class="form-box row">
                      <label class="fl-l">거래일자 설정</label>
                      <div class="fl-l calendar-input-box" id="Search-time">
                        <div class="row">
                          <div class="calendar-input-btn-box fl-l">
                            <input type="text" id="datepicker1">
                          </div>
                          <span class="fl-l"> ~ </span>
                          <div class="calendar-input-btn-box fl-l">
                            <input type="text" id="datepicker2">
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <script>
                  $(function() {
                    $("#datepicker1, #datepicker2").datepicker({
                      dateFormat: 'yy.mm.dd',
                      showOn: "both",
                      buttonImage: "../views/images/calendar-5.png",
                      buttonImageOnly: true,
                      buttonText: "Select date"
                    });
                  });
                </script>
              </div>
              <div class="from-section mb-0">
              </div>
              <!--from-section-->

              <div class="from-section mb-0">

                <div class="form-btn-box mb-0">
                  <a class="btn-change" onclick="getList()">검색 하기</a>
                </div>

              </div>
              <!--from-section-->

            </div>
            <!--conts-box-->


            <div class="conts-box pb-0">

              <div class="from-section">
                <div class="form-title row">
                  <h2 class="fl-l">수수료 종류  <span>검색  / 전체 </span></h2>
                  <div class="fl-r">
                    <a href="/default/feebook-set" class="fl-l btn-Add-set">추가하기</a>
                    <a href="#" class="btn-excel-down fl-l">엑셀 다운로드</a>
                    <select>
                      <option>수수료</option>
                      <option>수수료</option>
                      <option>구매</option>
                      <option>판매</option>
<!--                      <option>등급</option>-->
                    </select>
                  </div>
                </div>

                <div class="table-box mem-list">
                  <div class="table-over-box">
                    <table border="0">
                      <thead>
                        <tr>

                          <th>번호</th>
                          <th>거래코인</th>
                          <th>구분</th>
                          <th>시간</th>
                          <th>수수료율</th>
                          <th>등록일</th>
                          <th>시작일</th>
                          <th>종료일</th>
                          <th>등록자</th>
                          <th>사용여부</th>
<!--                          <th>기준코인</th>-->
                          <th>삭제</th>
                        </tr>
                      </thead>
                      <tbody name="tableData">
                      </tbody>
                    </table>
                  </div>
                </div>

                <div class="row">
                  <div class="paging fl-r">
                    <ul class="row" name="tableData">
                    </ul>
                  </div>
                </div>

              </div>

            </div>
            <!--conts-box-->
          </div>
        </section>


      </div>
      <!--main-wrap-->

    </div>
    <!--row-->

  </div>
  <!--wrap--->


</body>
<script src="../views/include/js/bootstrap.min.js"></script>
<script src="../views/include/sidebar-nav/dist/sidebar-nav.min.js"></script>
<script src="../views/include/js/waves.js"></script>
<script>
  var nowPages = 1;
  var pageRange = 5;
  var currentPage = 1;
  var pageLevel = 0;
  var totalPage = 0;
  var sMemberId = "";
  var data;
  var ListDATA = [];
  $(document).ready(() => {
    getList()
  })


  function getList() {
    $("tbody[name=tableData]").empty()
    var param = {}
    //  param['SECHER1_TITLE'] = ($("#selType").val() == "") ? " " : $("#selType").val()
    // param['UN_ESECHER_TEXT'] = ($("#selText").val() == "") ? " " : $("#selText").val()
    param['SECHER1_TITLE'] = " "
    param['UN_ESECHER_TEXT'] = " "
    param['B_CUR_YN'] = $(':radio[name="joining"]:checked').val();
    param['SITE_CODE'] = "01";
    param['CUR_PAGING'] = currentPage + ""
    param['PAGING_NO'] = "20"
    reqApiList({
      URL: 'getFeeBook',
      PARAM: param
    }).then((data) => {
      ListDATA = data.FEEBOOK
      //console.log(JSON.stringify(ListDATA));
      //  if (data.ALL_CNT != 0) {
      //    cnt = data.CNT.ALL_CNT
      //    totalPage = Math.floor(cnt / 10) + ((cnt % 10 != 0) ? 1 : 0)
      //    pageLevel = Math.floor(currentPage / (pageRange + 1))
      //    nowPages = (totalPage - (pageLevel * 5) > 5) ? 5 : totalPage - (pageLevel * 5)
      //  }
      var innerHtml = ""
      for (var i = 0; i < ListDATA.length; i++) {
        //console.table(ListDATA[i]);
        //console.log(ListDATA[i].d_STATUS);
        var using = (ListDATA[i].D_STATE == "Y") ? "사용" : "미사용"
        innerHtml += '<tr>';

        innerHtml += '<td>' + ListDATA[i].ROW_NOMBER + '</td>';
        innerHtml += '<td>' + ListDATA[i].C_SNAME  +  '</td>';
        innerHtml += '<td>' + ListDATA[i].D_GUBUN + '</td>';
        innerHtml += '<td>' + ListDATA[i].D_TIME +  '</td>';
        innerHtml += '<td>' + ListDATA[i].D_FEE +   ' % </td>';
        innerHtml += '<td>' + ListDATA[i].D_IDATE + '</td>';
        innerHtml += '<td>' + ListDATA[i].C_SDATE + '</td>';
        innerHtml += '<td>' + ListDATA[i].C_EDATE + '</td>';
        innerHtml += '<td>' + ListDATA[i].C_IUSER + '</td>';
       // innerHtml += '<td><a class="btn-table-change" onclick="changeFeeBook("0",' + i + ')">' + using + '</a></td>';
        if(ListDATA[i].D_STATE == "Y") {
          innerHtml += '<td><a class="btn-table-change" onclick="changefeeBook(0,' +i +')">' + "사용"+ '</a></td>';
        } else {
          innerHtml += '<td><a class="btn-table-change" onclick="changefeeBook(0,' + i+')">' +  "미사용" + '</a></td>';
        }
          innerHtml += '<td><a class="btn-table-change" onclick="changefeeBook(1,' + i+')">' + "삭제"+ '</a></td>';

        // innerHtml += '<td><a class="btn-table-change" onclick="changePassBook("1",' + i + ')">삭제</a></td>';
        innerHtml += '</tr>';
      }

      $("tbody[name=tableData]").append(innerHtml)
      var innerHtml = '';
      innerHtml += '<li class="" onclick="btnPage(\'bef\')"> <a href="#"><i class="fa fa-angle-left"></i></a> </li>';
      $("ul[name=paging]").empty()
      for (var i = 1; i <= nowPages; i++) {
        if (currentPage == i) {
          innerHtml += '<li onclick="movePage(' + i + ')"> <a class="active">' + ((pageLevel * 5) + i) + '</a> </li>';
        } else {
          innerHtml += '<li onclick="movePage(' + i + ')"> <a>' + ((pageLevel * 5) + i) + '</a> </li>';
        }
      }
      innerHtml += '<li onclick="btnPage(\'next\')"> <a href="#"><i class="fa fa-angle-right"></i></a> </li>';
      $("ul[name=paging]").append(innerHtml)
    })
  }

  function movePage(page) {
    currentPage = (pageLevel * 5) + page
    getList()
  }

  function changefeeBook(val, idx) {
    const curent_YN  =  ListDATA[idx].D_STATE
    const Cdx  =  ListDATA[idx].IDX
    var url;
    if (val == 0) {      url = 'setFeeBook'

    } else {
      url = 'delfeeBook'
      if (curent_YN == "Y") {
        if (!confirm("사용중인 수수료가 있습니다. /\그래도 삭제하시겠습니까?")) {
          return
        }
      }
    }
    reqApi({
      URL: url,
      PARAM: {
        IDX: Cdx+ ""
      }
    }).then(data => {
      if (data.getsetUse.RESULT=== 0 ) {
        alert ("정상수정처리 되었습니다.")
      } else {
        alert ("처리에 실패하였습니다.")
      }

      console.log(data);
      getList()
    })

  }

  function movePage(page) {
    currentPage = (pageLevel * 5) + page
    getList()
  }

  function btnPage(pos) {
    if (pos == "bef" && currentPage > 1) {
      currentPage--
    } else if (pos == "next" && currentPage < totalPage) {
      currentPage++
    }
    getList()
  }
</script>
