<% include ../head %>

<body>
  <div class="wrap">
    <div class="row">
      <% include ../left-menu %>
      <div class="main-wrap">
        <% include ../header %>
        <section id="title-section">
          <h1>회원정보수정</h1>
          <div class="row">
            <p class="fl-l">웹사이트의 기본적인 정보를 변경하실 수 있습니다.</p>
            <div class="fl-r">
              <ul class="row">
                <li>회원관리</li>
                <li><i class="fa fa-angle-right"></i></li>
                <li>회원정보수정</li>
              </ul>
            </div>
          </div>
        </section>
        <section id="cont-section">
          <div class="cont-whitebox">

            <div class="conts-box pb-0">

              <div class="from-section mb-0">
                <div class="form-title">
                  <h2>회원기본정보</h2>
                </div>
                <div class="form-tr row">
                  <div class="w50p fl-l">
                    <div class="form-box row">
                      <label class="fl-l">회원아이디</label>
                      <div class="input-box fl-l">
                        <input type="text" class="input" id="D_UID" readonly>
                        <p class="error">ex) </p>
                      </div>
                    </div>
                  </div>
                  <div class="w50p fl-l">
                    <div class="form-box row">
                      <label class="fl-l">회원명</label>
                      <div class="input-box fl-l">
                        <input type="text" class="input" id="D_NAME">
                        <p class="error">ex) </p>
                      </div>
                    </div>
                  </div>
                </div>
                <!--form-tr-->

                <div class="form-tr row">
                  <div class="w50p fl-l">
                    <div class="form-box row">
                      <label class="fl-l">회원가입일</label>
                      <div class="input-box fl-l">
                        <input type="text" class="input" id="D_DATE" readonly>
                        <p class="error">ex) </p>
                      </div>
                    </div>
                  </div>

                </div>
                <!--form-tr-->

                <div class="form-tr row">
                  <div class="w50p fl-l">
                    <div class="form-box row">
                      <label class="fl-l">휴대폰번호</label>
                      <div class="input-box fl-l">
                        <input type="text" class="input" id="D_HP">
                        <p class="error">ex) </p>
                      </div>
                      <!-- <p class="input-text fl-r"><i class="sm sm-idea"></i> 2010-09-01 11:30:30 인증완료</p> -->
                    </div>
                  </div>
                  <div class="w50p fl-l">
                    <div class="form-box row">
                      <label class="fl-l">이메일주소</label>
                      <div class="input-box fl-l">
                        <input type="text" class="input" id="D_EMAIL">
                        <p class="error">ex) </p>
                      </div>
                      <!-- <p class="input-text fl-r"><i class="sm sm-idea"></i> 2010-09-01 11:30:30 인증완료</p> -->
                    </div>
                  </div>
                </div>

                <div class="form-tr row">
                  <div class="w50p fl-l">
                    <div class="form-box row">
                      <label class="fl-l">비밀번호</label>
                      <div class="input-box fl-l">
                        <input type="input" class="input" id="D_PASS">
                        <p class="error">ex) </p>
                      </div>
                    </div>
                  </div>
                  <div class="w50p fl-l">
                    <div class="form-box row">
                      <label class="fl-l">비밀번호 확인</label>
                      <div class="input-box fl-l">
                        <input type="input" class="input" id="D_PASS_CH">
                        <p class="error">ex) </p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-tr row">
                  <div class="w50p fl-l">
                    <div class="form-box row">
                      <label class="fl-l">경고여부</label>
                      <div class="input-box fl-l">
                        <input type="text" class="input" id="WARN_YN" readonly>
                        <p class="error">ex) </p>
                      </div>
                    </div>
                  </div>
                  <div class="w50p fl-l">
                    <div class="form-box row">
                      <label class="fl-l">경고횟수</label>
                      <div class="input-box fl-l">
                        <input type="text" class="input" id="WARN_CNT" readonly>
                        <p class="error">ex) </p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-tr row">
                  <div class="w50p">
                    <div class="form-box row">
                      <label class="fl-l">추천인</label>
                      <div class="input-box fl-l">
                        <input type="text" class="input" id="P_UID" readonly>
                        <p class="error">ex) </p>
                      </div>
                    </div>
                  </div>
                </div>


                <!-- <div class="form-tr row">
								<div class="w100p">
									<div class="form-box row">
										<label class="fl-l">관리자 메모</label>
										<div class="input-box fl-l">
											<textarea name="item1_content" id="item1_content"></textarea>
										</div>
									</div>
								</div>
							</div> -->

              </div>
              <!--from-section-->

            </div>
            <!--conts-box-->

            <div class="conts-box">

              <!-- <div class="from-section">
							<div class="form-title">
								<h2>회원보유자산현황</h2>
							</div>

							<div class="form-tr row withdraw-account">
								<div class="w100p">
									<div class="form-box row">
										<label class="fl-l">출금계좌</label>
										<div class="fl-l select-box">
											<select>
												<option value="001"  >한국</option>
												<option value="002"  >중국</option>
												<option value="003"  >일본</option>
											</select>
										</div>
										<div class="fl-l select-box">
											<select>
												<option value="000"  >은행선택    </option>
												<option value="001"  >한국은행            </option>
												<option value="002"  >산업은행            </option>
												<option value="003"  >기업은행            </option>
												<option value="004"  >국민은행            </option>
												<option value="007"  >수협                </option>
												<option value="008"  >수출입은행          </option>
												<option value="011"  >농협                </option>
												<option value="012"  >지역농ㆍ축협        </option>
												<option value="020"  >우리은행            </option>
												<option value="023"  >SC제일은행          </option>
												<option value="027"  >한국씨티은행        </option>
												<option value="031"  >대구은행            </option>
												<option value="032"  >부산은행            </option>
												<option value="034"  >광주은행            </option>
												<option value="035"  >제주은행            </option>
												<option value="037"  >전북은행            </option>
												<option value="039"  >경남은행            </option>
												<option value="045"  >새마을금고          </option>
												<option value="048"  >신협                </option>
												<option value="050"  >상호저축은행        </option>
												<option value="052"  >모간스탠리          </option>
												<option value="054"  >ＨＳＢＣ            </option>
												<option value="055"  >도이치은행          </option>
												<option value="057"  >JP모간체이스        </option>
												<option value="058"  >미즈호              </option>
												<option value="059"  >미쓰비시도쿄ＵＦＪ  </option>
												<option value="060"  >Ｂ．Ｏ．Ａ          </option>
												<option value="061"  >비엔피파리바        </option>
												<option value="062"  >중국공상            </option>
												<option value="063"  >중국                </option>
												<option value="064"  >산림조합            </option>
												<option value="065"  >대화                </option>
												<option value="066"  >교통                </option>
												<option value="071"  >우체국              </option>
												<option value="076"  >신용보증기금        </option>
												<option value="077"  >기술보증기금        </option>
												<option value="081"  >KEB하나             </option>
												<option value="088"  >신한은행            </option>
												<option value="089"  >케이뱅크            </option>
												<option value="090"  >카카오뱅크          </option>
												<option value="093"  >한국주택금융공사    </option>
												<option value="094"  >서울보증보험        </option>
												<option value="095"  >경찰청              </option>
												<option value="096"  >한국전자금융(주)    </option>
												<option value="099"  >금융결제원          </option>
												<option value="101"  >한국신용정보원      </option>
												<option value="102"  >대신저축은행        </option>
												<option value="103"  >에스비아이저축은행  </option>
												<option value="104"  >에이치케이저축은행  </option>
												<option value="105"  >웰컴저축은행        </option>
												<option value="209"  >유안타증권          </option>
												<option value="218"  >KB증권              </option>
												<option value="221"  >골든브릿지투자증권  </option>
												<option value="222"  >한양증권            </option>
												<option value="223"  >리딩투자증권        </option>
												<option value="224"  >BNK투자증권         </option>
												<option value="225"  >IBK투자증권         </option>
												<option value="227"  >KTB투자증권         </option>
												<option value="238"  >미래에셋대우        </option>
												<option value="240"  >삼성증권            </option>
												<option value="243"  >한국투자증권        </option>
												<option value="247"  >NH투자증권          </option>
												<option value="261"  >교보증권            </option>
												<option value="262"  >하이투자증권        </option>
												<option value="263"  >현대차투자증권      </option>
												<option value="264"  >키움증권            </option>
												<option value="265"  >이베스트투자증권    </option>
												<option value="266"  >SK증권              </option>
												<option value="267"  >대신증권            </option>
												<option value="269"  >한화투자증권        </option>
												<option value="270"  >하나금융투자        </option>
												<option value="278"  >신한금융투자        </option>
												<option value="279"  >DB금융투자          </option>
												<option value="280"  >유진투자증권        </option>
												<option value="287"  >메리츠종합금융증권  </option>
												<option value="290"  >부국증권            </option>
												<option value="291"  >신영증권            </option>
												<option value="292"  >케이프투자증권      </option>
												<option value="293"  >한국증권금융        </option>
												<option value="294"  >펀드온라인코리아    </option>
												<option value="295"  >우리종합금융        </option>
												<option value="296"  >삼성선물            </option>
												<option value="297"  >외환선물            </option>
												<option value="298"  >현대선물            </option>
												<option value="431"  >미래에셋생명        </option>
												<option value="432"  >한화생명            </option>
												<option value="433"  >교보라이프플래닛생명</option>
												<option value="434"  >현대라이프생명      </option>
												<option value="435"  >라이나생명          </option>
												<option value="436"  >교보생명            </option>
												<option value="437"  >에이비엘생명        </option>
												<option value="438"  >신한생명            </option>
												<option value="439"  >KB생명보험          </option>
												<option value="440"  >농협생명            </option>
												<option value="441"  >삼성화재            </option>
												<option value="442"  >현대해상            </option>
												<option value="443"  >DB손해보험          </option>
												<option value="444"  >KB손해보험          </option>
												<option value="445"  >롯데손해보험        </option>
												<option value="446"  >아이엔지생명        </option>
												<option value="447"  >악사손해보험        </option>
												<option value="448"  >메리츠화재          </option>
												<option value="452"  >삼성생명            </option>
												<option value="453"  >흥국생명            </option>
												<option value="999"  >기타                </option>

											</select>
										</div>
										<div class="input-box input-box1 fl-l">
											<input type="text" class="input" value="홍길동">
											<p class="error">ex) </p>
										</div>
										<div class="input-box input-box2 fl-l">
											<input type="text" class="input" value="000-0000-0000-000">
											<p class="error">ex) </p>
										</div>
										<p class="input-text fl-r"><i class="sm sm-idea"></i> 2010-09-01 11:30:30 인증완료</p>
									</div>
								</div>
							</div><!--form-tr-->

              <!-- <div class="form-tr row">
								<div class="w50p fl-l">
									<div class="form-box row">
										<label class="fl-l">판매대기 동램프</label>
										<div class="input-box fl-l">
											<input type="text" class="input" value="L10">
											<p class="error">ex) </p>
										</div>
									</div>
								</div>
								<div class="w50p fl-l">
									<div class="form-box row">
										<label class="fl-l">입금대기 동램프</label>
										<div class="input-box fl-l">
											<input type="text" class="input" value="W10">
											<p class="error">ex) </p>
										</div>
									</div>
								</div>
							</div>

							<div class="form-tr row">
								<div class="w50p fl-l">
									<div class="form-box row">
										<label class="fl-l">판매대기 은램프</label>
										<div class="input-box fl-l">
											<input type="text" class="input" value="L20">
											<p class="error">ex) </p>
										</div>
									</div>
								</div>
								<div class="w50p fl-l">
									<div class="form-box row">
										<label class="fl-l">입금대기 은램프</label>
										<div class="input-box fl-l">
											<input type="text" class="input" value="W20">
											<p class="error">ex) </p>
										</div>
									</div>
								</div>
							</div>

							<div class="form-tr row">
								<div class="w50p fl-l">
									<div class="form-box row">
										<label class="fl-l">판매대기 금램프</label>
										<div class="input-box fl-l">
											<input type="text" class="input" value="L30">
											<p class="error">ex) </p>
										</div>
									</div>
								</div>
								<div class="w50p fl-l">
									<div class="form-box row">
										<label class="fl-l">입금대기 금램프</label>
										<div class="input-box fl-l">
											<input type="text" class="input" value="W30">
											<p class="error">ex) </p>
										</div>
									</div>
								</div>
							</div>

							<div class="form-tr row">
								<div class="w50p fl-l">
									<div class="form-box row">
										<label class="fl-l">판매대기 요술램프</label>
										<div class="input-box fl-l">
											<input type="text" class="input" value="L40">
											<p class="error">ex) </p>
										</div>
									</div>
								</div>
								<div class="w50p fl-l">
									<div class="form-box row">
										<label class="fl-l">입금대기 요술램프</label>
										<div class="input-box fl-l">
											<input type="text" class="input" value="W40">
											<p class="error">ex) </p>
										</div>
									</div>
								</div>
							</div> -->

            </div>

            <div class="from-section mb-0">

              <!-- <div class="form-btn-box mb-10 row mrow">
								<div class="w50p fl-l">
									<a class="btn-red">회원삭제</a>
								</div>
								<div class="w50p fl-l">
									<a class="btn-red">코인몰수</a>
								</div>
							</div> -->

              <div class="form-btn-box mb-0 mt-10">
                <a class="btn-change">변경사항 저장하기</a>
              </div>

            </div>

          </div>


      </div>
      </section>


    </div>

  </div>

  </div>


</body>
<script>
  async function updateInfo() {
    if($("#D_PASS").val()!=$("#D_PASS_CH").val()){
      alert("비밀번호가 일치하지 않습니다")
      return
    }
    var Param = {}
    Param['D_UID'] = $("#D_UID").val()
    Param['UN_ED_NAME'] = $("#D_NAME").val()
    Param['D_HP'] = $("#D_HP").val()
    Param['D_EMAIL'] = $("#D_EMAIL").val()
    Param['D_PASS'] = $("#D_PASS").val()
    var r = await reqApi({
      URL: 'AupdateMember',
      PARAM: Param
    })
    switch (r.DELMEMBER.RESULT) {
      case 0:
        alert("정상 수정 처리되었습니다.")
        break;
      case 1:
        alert("회원명을 입력하세요")
        break;
      case 2:
        alert("핸드폰번호를 입력하세요")
        break;
      case 3:
        alert("이메일주소를 입력하세요")
        break;
    }
    getList()
  }
</script>



<!--
<script src="../views/include/js/bootstrap.min.js"></script>
<script src="../views/include/sidebar-nav/dist/sidebar-nav.min.js"></script>
<script src="../views/include/js/waves.js"></script> -->




<script>
	$(".sidebar #side-menu > li.menu3").addClass("active");
	$(".sidebar #side-menu > li.menu3").find("ul li.submenu1 a").addClass("active");
</script>

<script type="text/javascript">
var oEditors = [];
var sLang = "ko_KR";	// 언어 (ko_KR/ en_US/ ja_JP/ zh_CN/ zh_TW), default = ko_KR
// 추가 글꼴 목록
//var aAdditionalFontSet = [["MS UI Gothic", "MS UI Gothic"], ["Comic Sans MS", "Comic Sans MS"],["TEST","TEST"]];

for (var i = 1; i < 10; i++) {
	nhn.husky.EZCreator.createInIFrame({
		oAppRef: oEditors,
		elPlaceHolder: "item"+i+"_content",
		sSkinURI: "../views/include/smarteditor2/SmartEditor2Skin.html",
		htParams : {
			bUseToolbar : true,				// 툴바 사용 여부 (true:사용/ false:사용하지 않음)
			bUseVerticalResizer : true,		// 입력창 크기 조절바 사용 여부 (true:사용/ false:사용하지 않음)
			bUseModeChanger : true,			// 모드 탭(Editor | HTML | TEXT) 사용 여부 (true:사용/ false:사용하지 않음)
			//bSkipXssFilter : true,		// client-side xss filter 무시 여부 (true:사용하지 않음 / 그외:사용)
			//aAdditionalFontList : aAdditionalFontSet,		// 추가 글꼴 목록
			fOnBeforeUnload : function(){
				//alert("완료!");
			},
			I18N_LOCALE : sLang
		}, //boolean
		fOnAppLoad : function(){
			//예제 코드
			//oEditors.getById["ir1"].exec("PASTE_HTML", ["로딩이 완료된 후에 본문에 삽입되는 text입니다."]);
		},
		fCreator: "createSEditor2"
	});
}
</script>
