<% include ../head %>

<body>
  <div class="wrap">
    <div class="row">
      <% include ../left-menu %>
      <div class="main-wrap">
        <% include ../header %>
        <section id="title-section">
          <h1>WRD 입금내역</h1>
          <div class="row">
            <p class="fl-l">웹사이트의 기본적인 정보를 변경하실 수 있습니다.</p>
            <div class="fl-r">
              <ul class="row">
                <li>판매신청관리</li>
                <li><i class="fa fa-angle-right"></i></li>
                <li>WRD 입금내역</li>
              </ul>
            </div>
          </div>
        </section>
        <section id="cont-section">
          <div class="cont-whitebox">
            <ul class="row main-teb-menu">
              <li><a id="teb-menu1" onclick="changeCoin('WRD')">WRD 입금내역</a></li>
              <li><a id="teb-menu2" onclick="changeCoin('BTC')">BTC 입금내역</a></li>
              <li><a id="teb-menu3" onclick="changeCoin('ETH')">ETH 입금내역</a></li>
            </ul>
            <div class="main-teb-cont">
              <div class="teb-conts teb-cont1 p-0">
                <div class="conts-box pb-0">
                  <div class="search-box border-l0 border-r0 p-5 bg-grey mb-30">
                    <div class="row ">
                      <div class="w100p fl-l m-0">
                        <div class="search-form-box row pl-5 pr-5">
                          <label class="fl-l">관리자 주소 </label>
                          <div class="input-box fl-l">
                            <input type="text" class="input" id="COINADDR" readonly>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row ">
                      <div class="w33p fl-l m-0">
                        <div class="search-form-box row pl-5 pr-5">
                          <label class="fl-l">
                            <data-tag name="SYMBOL"></data-tag> 코인시세
                          </label>
                          <div class="input-box fl-l">
                            <input type="text" class="input" id="C_LAST_PRICE" readonly>
                          </div>
                        </div>
                      </div>
                      <div class="w33p fl-l m-0">
                        <div class="search-form-box row pl-5 pr-5">
                          <label class="fl-l">ETH 잔액</label>
                          <div class="input-box fl-l">
                            <input type="text" class="input" readonly id="ETHVAL">
                          </div>
                        </div>
                      </div>
                      <div class="w33p fl-l m-0">
                        <div class="search-form-box row pl-5 pr-5">
                          <label class="fl-l">
                            <data-tag name="SYMBOL"></data-tag> 잔액
                          </label>
                          <div class="input-box fl-l">
                            <input type="text" class="input" readonly id="COINVAL">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!--search-box-->
                  <div class="search-box border-l0 border-r0 p-5">
    								<div class="row">
    									<div class="w50p fl-l m-0">
    										<div class="search-form-box row">
    											<label class="fl-l">검색어</label>
    											<div class="select-input-box fl-l">
                            <select id="selType">
                              <option value=" ">전체</option>
                              <option value="1">아이디</option>
                              <option value="2">이름</option>
                              <option value="3">전화번호</option>
                              <option value="4">이메일</option>
                            </select>
                            <input type="text" class="input" id="selText">
    											</div>
    										</div>
    									</div>
                      <div class="w50p fl-l">
    										<div class="search-form-box row">
    											<label class="fl-l">처리구분</label>
    											<div class="fl-l select-box">
                            <select id="coin_type">
                              <option value="">전체</option>
                              <option value="1">이체처리</option>
                              <option value="2">미처리</option>
                            </select>
    											</div>
    										</div>
    									</div>

    								</div>
    							</div><!--search-box-->
                  <div class="from-section">
                    <div class="form-tr row">

                      <div class="w100p fl-l">
                        <div class="form-box row">
                          <label class="fl-l">입금일자</label>
                          <div class="fl-l calendar-input-box" id="Search-time">
                            <div class="row">
                              <div class="calendar-input-btn-box fl-l">
                                <input type="text" id="datepicker1">
                              </div>
                              <span class="fl-l"> ~ </span>
                              <div class="calendar-input-btn-box fl-l">
                                <input type="text" id="datepicker2">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- 달력 -->
                      <link rel="stylesheet" href="../views/include/datepicker.css">
                      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
                      <script>
                        $(function() {
                          $("#datepicker1, #datepicker2").datepicker({
                            dateFormat: 'yy.mm.dd',
                            showOn: "both",
                            buttonImage: "../views/images/calendar-5.png",
                            buttonImageOnly: true,
                            buttonText: "Select date"
                          });
                        });
                      </script>
                    </div>
                    <!--form-tr-->
                  </div>
                  <!--from-section-->
                  <div class="from-section mb-0">
                    <div class="form-btn-box mb-0">
                      <a class="btn-change" onclick=""><data-tag name="SYMBOL"></data-tag> 판매신청 </a>
                    </div>
                  </div>
                  <!--from-section-->
                </div>
                <!--conts-box-->
                <div class="conts-box pb-0">
                  <div class="from-section">
                    <div class="form-title row">
                      <h2 class="fl-l">신청내역<span>전체입금<data-tag name="C_SNAME"></data-tag>:<data-tag name="ALL_QTY"></data-tag> 미처리 <data-tag name="C_SNAME"></data-tag> 코인 <data-tag name="CUR_QTY"></data-tag></span></h2>
                      <div class="fl-r mt-10">
                        <a href="#" class="btn-excel-down fl-l" onclick="commonLib.fnExcelReport('excelTable','SalesList')">엑셀 다운로드</a>
                      </div>
                    </div>
                    <div class="table-box with-app-btc">
                      <div class="table-over-box">
                        <table border="0" id="excelTable">
                          <thead>
                            <tr>
                              <th>번호</th>
                              <th>신청일자</th>
                              <th>신청사이트</th>
                              <th>코인명</th>
                              <th>판매자명</th>
                              <th class="tx-r">발신주소</th>
                              <th class="tx-r">입금수량</th>
                              <th class="tx-r">시세</th>
                              <th class="tx-r">입금금액</th>
                              <th class="tx-r">수수료</th>
                              <th>입금여부</th>
                            </tr>
                          </thead>
                          <tbody name="tableData">
                          </tbody>
                        </table>
                      </div>
                    </div>

                    <div class="row">
                      <div class="paging fl-r">
                        <ul class="row" id="pageDiv">
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <!--출금취소 팝업-->
  <div class="popup-bg">
    <!--출금완료 팝업-->
    <div id="popup" class="purchase-application">

      <div class="pop-title">
        <h2 id="popTitle"><data-tag name="SYMBOL"></data-tag> 판매신청 상세보기</h2>
        <a class="close"><i class="sm sm-multiply"></i></a>
      </div>

      <div class="pop-conts">
        <div class="pop-form-box row">
          <p class="fl-l"><data-tag name="SYMBOL"></data-tag> 발신주소</p>
          <div class="pop-input-box fl-l">
            <input type="text" class="input" name="SEND_ADDRESS" readonly>
          </div>
        </div>
        <div class="pop-form-box row">
          <p class="fl-l"><data-tag name="SYMBOL"></data-tag><data-tag name="SYMBOL"></data-tag> 입금수량</p>
          <div class="pop-input-box fl-l">
            <input type="text" class="input" name="MS_QTY" readonly>
          </div>
        </div>
        <div class="pop-form-box row">
          <p class="fl-l">서버전송수수료</p>
          <div class="pop-input-box fl-l">
            <input type="text" class="input" name="MS_REAL_FEE" readonly>
          </div>
        </div>
        <div class="pop-form-box row">
          <p class="fl-l"><data-tag name="SYMBOL"></data-tag> TXID</p>
          <div class="pop-input-box fl-l">
            <a name="MS_TXID" target="_blank"></a>
            <!-- <input type="text" class="input" name="MS_TXID" readonly onclick="gotoETHScan(this)"> -->
          </div>
        </div>
        <div class="pop-form-box row">
          <p class="fl-l">은행명</p>
          <div class="pop-input-box fl-l">
            <input type="text" class="input" name="B_NAME" readonly>
          </div>
        </div>
        <div class="pop-form-box row">
          <p class="fl-l">계좌번호</p>
          <div class="pop-input-box fl-l">
            <input type="text" class="input" name="B_IDNO" readonly>
          </div>
        </div>
        <div class="pop-form-box row">
          <p class="fl-l">예금주 </p>
          <div class="pop-input-box fl-l">
            <input type="text" class="input" name="B_IDNO" readonly>
          </div>
        </div>
        <div class="pop-form-box row">
          <p class="fl-l">연락처</p>
          <div class="pop-input-box fl-l">
            <input type="text" class="input" name="D_HP" readonly>
          </div>
        </div>

        <div class="pop-table">

    			<div class="table-over-box pop-trade-exchange-list">
    				<table border="0">
    					<thead>
    						<tr>
    							<th>분류</th>
    							<th>신청일시</th>
    							<th class="tx-r">환산금액</th>
    							<th class="tx-r">수수료</th>
    							<th class="tx-r">실지급액</th>
    							<!-- <th>입금확인</th> -->
    						</tr>
    					</thead>
    					<tbody>
                <tr>
                  <td class="tx-red"><data-tag name="SYMBOL"></data-tag> 코인판매</td>
                  <td><data-tag name="MS_IDATE"></data-tag></td>
                  <td class="tx-r"><data-tag name="C_AMT"></data-tag></td>
                  <td class="tx-r"><data-tag name="FEES_AMT"></data-tag></td>
                  <td class="tx-r"><data-tag name="R_KRWAMT"></data-tag></td>
                  <!-- <td>
                    <a href="" class="btn-table-change">확인</a>
                    <a href="" class="btn-table-change btn-red">확인취소</a>
                  </td> -->
                </tr>
    					</tbody>
    				</table>
    			</div>

    		</div>
        <div class="pop-form-box row">
    			<div class="checkbox-box fl-l">
    				<input type="checkbox" name="sms-confirm" id="sms-confirm" value="1" checked>
    				<label for="sms-confirm">SMS전송</label>
    			</div>
    		</div>

    		<div class="pop-btn-box">
    			<a class="btn-pop close" onclick="sellOk()"><data-tag name="SYMBOL"></data-tag> 전송</a>
    		</div>

      </div>
    </div>
  </div>
</body>
<script src="../views/include/js/bootstrap.min.js"></script>
<script src="../views/include/sidebar-nav/dist/sidebar-nav.min.js"></script>
<script src="../views/include/js/waves.js"></script>
<script>
  var buyParam = {
    SECHER1_TITLE:" ",
    SECHER_TEXT:" ",
    GUBUN: "WRD",
    COIN_TYPE: " ",
    SITE_CODE: "01",
    D_SDATE: " ",
    D_EDATE: " ",
    CUR_PAGING: "1",
    PAGING_NO: "10"
  }
  var selected;
  var addrList = []
  var SelectedCoin = "WRD"
  var coinNames = {
    "WRD": "우리들코인",
    "ETH": "이더리움",
    "BTC": "비트코인"
  }
  var ListDATA=[]
  $(document).ready(() => {
    reqApiList({
      URL: 'AgetCoinInfo'
    }).then(data => {
      addrList = data.COININFO
      changeCoin('WRD')
    })
  })
  function getList(){
    buyParam['GUBUN'] = SelectedCoin
    buyParam['SECHER1_TITLE'] = $("#selType").val()
    buyParam['UN_ESECHER_TEXT'] = ($("#selText").val() == "") ? " " : $("#selText").val()
    buyParam['COIN_TYPE'] = ($("#coin_type").val() == "") ? " " : $("#coin_type").val()
    reqApi({
      URL: 'getCoinDepTop',
      PARAM: buyParam
    }).then(data=>commonLib.bindValueNameData(data.COINDEPTOP))
    reqApiList({
      URL: 'getCoinDepList',
      PARAM: buyParam
    }).then(data => {
      $("tbody[name=tableData]").empty()
      ListDATA = data.COINDEPLIST
      var innerHtml = ""
      for (var i = 0; i < ListDATA.length; i++) {
        var using = (ListDATA[i].BANK_YN == "Y") ? "입금" : "미입금"
        innerHtml += '<tr>';
        innerHtml += '<td>' + ListDATA[i].ROW_NOMBER + '</td>';
        innerHtml += '<td>' + ListDATA[i].MS_IDATE + '</td>';
        innerHtml += '<td>' + ListDATA[i].APP_SITE + '</td>';
        innerHtml += '<td>' + ListDATA[i].RECIVETYPE + '</td>';
        innerHtml += '<td>' + ListDATA[i].USERID + '</td>';
        innerHtml += '<td class="tx-r">' + ListDATA[i].MS_SENDADDR + '</td>';
        innerHtml += '<td class="tx-r">' + ListDATA[i].MS_QTY + '</td>';
        innerHtml += '<td class="tx-r">' + ListDATA[i].MS_RATE + '</td>';
        innerHtml += '<td class="tx-r">' + ListDATA[i].MS_AMOUNT + '</td>';
        innerHtml += '<td class="tx-r">' + ListDATA[i].MS_FEE + '</td>';
        innerHtml += '<td>' + using + '</td>';
        innerHtml += '</tr>';
      }
      $("tbody[name=tableData]").append(innerHtml)
      $("#popup.purchase-application a.close").click(function() {
        $("#popup.purchase-application").fadeOut(500, function() {
          $(".popup-bg").fadeOut(200);
        });
      });
    })
  }
  function changeCoin(val) {
    SelectedCoin = val
    var conName = coinNames[SelectedCoin]
    buyParam['SNAME']=val
    $("#cointext1").attr("placeholder", conName + "코인 (" + val + ")`을 수신(받을)할 지갑주소");
    commonLib.bindValueNameData({
      SYMBOL: val,
      COINNAME: conName
    })
    getList()
    for (var i = 0; i < addrList.length; i++) {
      if (addrList[i]['GUBUN'] == SelectedCoin) {
        if (addrList[i]['OFFRATE_YN'] == 'N') {
          reqApi({
            URL: 'getRate',
            PARAM: {
              SNAME: val
            }
          }).then(data => {
            $("#C_LAST_PRICE").val(commonLib.comma(data.COINRATE * 1))
            coinRate = data.COINRATE * 1
          })
        } else {
          $("#C_LAST_PRICE").val(addrList[i]['DB_AMT'])
          coinRate = addrList[i]['DB_AMT'] * 1
        }
        $("#COINADDR").val(addrList[i]['AD_ADDRESS'])
        reqApi({
          URL: 'getBalance',
          PARAM: {
            SNAME: "ETH",
            ADDR: addrList[i]['AD_ADDRESS']
          }
        }).then(data => $("#ETHVAL").val((data.COINPRICE)))
        reqApi({
          URL: 'getBalance',
          PARAM: {
            SNAME: val,
            ADDR: addrList[i]['AD_ADDRESS']
          }
        }).then(data => $("#COINVAL").val((data.COINPRICE)))
        return
      }
    }

  }
</script>
